@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
}

.dark {
  --bg: #0b1220;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--bg);
}

.scrollbar-thin::-webkit-scrollbar { height:8px; width:8px }
.scrollbar-thumb-rounded::-webkit-scrollbar-thumb { border-radius:6px }
